body {
  background: white;
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;  
  margin: 0;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.site-root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
}

.site-header {
  color: #000;
  background: #60B5CC;
}

#site-header__logo {
  position: absolute;
  left: 1em;
  top: 1em;
}

.site-header__nav {
  margin: 0;
  padding: 0;
}

.site-header__nav a {
  text-decoration: none;
  color: #34495E;
  font-size: 1em;
  padding-bottom: 13px;
  margin: 0 1.5em;
}

.site-header__nav a:hover,
.site-header__nav a.current {
  text-decoration: none;
  color: #34495E;
  border-bottom: 3px solid #34495E;
}

.site-header__nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0;
  padding: 1em;
}

.splash {
  background: #60B5CC;
  color: white;
  padding: 1em;
  text-align: center;
}

#main-splash {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.splash .title {
  font-size: 6em;
  padding: 16px 0px;
  /*margin: inherit;*/
}

.splash .subtitle {
  font-size: 1.25em;
  padding: 8px 0px;
}

.splash .subtext {
  font-size: 0.75em;
  padding: 8px 0px;
}

.splash .links {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.splash a {
  background: #34495E;
  border-radius: 6px;
  flex: 0 120px;
  padding: 12px;
  margin: 12px;
  color: white;
  font-size: 1.2em;
}

.splash a:hover {
  background: #20374D;
  color: white;
  text-decoration: none;
}

.main-content{
  background: #F7CE2B;
  min-height: 40vh;
  padding: 10px;
}

.site-footer{
  background: #ABC999;
  padding: 10px;
  order: 1;
}

